.back-top a { right: auto; left: 20px; }

#header .block-cart { position: relative; float: left; }

@media (max-width: 480px) { #header .cart_block { right: -65px; } }

.shopping_cart .quantity-first { left: -15px; right: auto; }

.header_userinfo { float: right; }

.header_userinfo .top-userinfo .top-links:after { padding: 0 7px 0 0; float: left; }

header .nav .link-nav li a.link-wishlist { margin: 0 30px 0 0; }

header .nav .link-nav li a.link-wishlist:before { float: right; margin: 0 0 0 10px; }

header .nav .link-nav li a.link-checkout:before { float: right; margin: 0 0 0 10px; }

.pos-bestsellers-product .boxprevnext { right: auto; left: -15px; }

.price-percent-reduction { right: 0; left: auto; }

.item-product .products-inner .quick-views a, ul.product_list > li .product-container .products-inner .quick-views a { left: 10px; right: auto; }

.pos-bestsellers-product .pos-title { text-align: right; }

.pos-bestsellers-product .pos-title h2:before { left: auto; right: 0; }

.header_userinfo #header_links { left: 0; right: auto; }

#languages-block-top, #currencies-block-top { float: right; }

#languages-block-top div.current:after, #currencies-block-top div.current:after { padding: 0 7px 0 0; float: left; }

#languages-block-top ul, #currencies-block-top ul { right: 0; left: auto; }

@media (max-width: 991px) { .footer-container #footer .clear { clear: right; } }

#languages-block-top { padding-left: 15px; }

.pt_custommenu #pt_menu_home .parentMenu a { padding-left: 20px; padding-right: 0; }

.shopping_cart > a:first-child b:after { float: left; padding: 0 7px 0 0; }

.banner_header p .phone { margin: 0 0 0 10px; }

ul.product_list.list > li .product-container { border-right: 0; }

.blockproductscategory .boxprevnext a.next { left: 0; }

#search_block_top { float: left; }

#search_block_top #searchbox { float: left; position: relative; }

@media (max-width: 767px) { #search_block_top #searchbox { float: none; } }

#search_block_top { left: 15px; right: auto; }

.pt_custommenu .pt_menu { float: right; }

.pt_custommenu .pt_menu .parentMenu a span:before { left: 10px; right: auto; }

.pt_custommenu .pt_menu .parentMenu a:before { right: auto; left: 0; }

.pt_custommenu .pt_menu:first-child .parentMenu a:before { display: block; }

.pt_custommenu .pt_menu:last-child .parentMenu a:before { display: none; }

.pt_custommenu .pt_menu .popup { text-align: right; left: auto !important; }

.pt_custommenu .pt_menu .popup .block1 { overflow: hidden; float: right; }

.pt_custommenu .pt_menu .popup .block1 .column { float: right; margin-left: 20px; margin-right: 0; }

.pt_custommenu .pt_menu .popup .block1 .column.last { margin-left: 0; }

@media (max-width: 1199px) { .pt_custommenu .pt_menu .popup .block1 .column { margin-left: 10px; }
  .pt_custommenu .pt_menu .popup .block1 .column.last { margin-left: 0; } }

#header .header-middle .header-middle-right .cart-search .banner-header .block1 { border-right: none; border-left: 1px solid #999; }

@media (max-width: 767px) { #header .header-middle .header-middle-right .cart-search .banner-header .block1 { border-left: none; } }

#header .header-middle .header-middle-right .cart-search .banner-header .block-wrapper1 { text-align: left; }

@media (max-width: 767px) { #header .header-middle .header-middle-right .cart-search .banner-header .block-wrapper1 { text-align: center; } }

@media (max-width: 320px) { #header .header-middle .header-middle-right .cart-search .banner-header .block-wrapper { padding: 0; } }

#header .header-middle .header-middle-right .cart-search .banner-header .block-wrapper .text { text-align: right; padding: 0 15px 0 0; }

@media (max-width: 1199px) { #header .header-middle .header-middle-right .cart-search .banner-header .block-wrapper .text { padding: 0 10px 0 0; } }

@media (max-width: 320px) { #header .header-middle .header-middle-right .cart-search .banner-header .block-wrapper .text { text-align: center; padding: 0; } }

.actions .add-to-links li a.add-wishlist { float: right; }

.actions .add-to-links li a.add_to_compare { float: left; }

header .nav .link-nav li { float: left; }

header .nav .link-nav li a.link-wishlist { margin: 0 0 0 30px; }

.nav-collapse { text-align: right; }

.navbar-inner { text-align: right; }

.navbar .btn-navbar { position: absolute; right: auto; left: 15px; }

.navbar .brand { padding: 0 20px 0 0; }

.mobilemenu span.head { position: absolute; left: 10px; right: auto; }

/* title */
/* title */
/* style product */
.new-box { left: auto; right: 10px; }

.sale-box { left: 10px; right: auto; }

/* flexible */
.shopping_cart > a:first-child .ajax_cart_quantity { right: 40px; left: auto; }

.navleft-container .pt_vmegamenu .pt_menu .parentMenu a:after { float: left; content: "\f053"; }

.navleft-container .pt_vmegamenu_title { padding: 0 25px 0 15px; }

.navleft-container .pt_vmegamenu_title h2:before { float: left; margin-right: 10px; margin-left: 0; }

.navleft-container .pt_vmegamenu .pt_menu { position: relative; }

.navleft-container .pt_vmegamenu .pt_menu .wrap-popup { left: auto; right: 100%; }

.navleft-container .pt_vmegamenu .pt_menu .wrap-popup .popup { left: auto !important; right: 0 !important; }

.navleft-container .pt_vmegamenu .pt_menu .wrap-popup .popup .box-popup { float: right; }

.banner-home-center .text-img { background: url(../img/img_cms_1.1.png) no-repeat 100% 50%; }

.banner-home-center .text-img .text { float: left; }

.banner-home-center .text-img .sale { left: auto !important; right: 0; }

.pos-slideshow-content { direction: ltr; }

#search_block_top #search_query_top { padding: 10px 10px 10px 50px; }

#search_block_top .btn.button-search { right: auto; left: 20px; }

.tabsproduct .tabs li:before { right: auto; left: -18px; }

.countdown-section { float: right; }

.banner-right-special { float: left; }

.list_categoryproducts .item-product .products-inner { float: right; margin: 0 0 0 12px; }

.list_categoryproducts .item-product .product-contents { text-align: right; }

.pos-bestsellers-products .item-product .products-inner { float: right; }

.pos-bestsellers-products .item-product .product-contents { text-align: right; margin: 0 10px 0 0; }

.actions .cart a span:before { float: right; margin: 0 0 0 8px; }

.banner-newsletter #newsletter_block_left .newsletter-title { text-align: right; float: right; margin: 0 0 0 45px; }

@media (max-width: 480px) { .banner-newsletter #newsletter_block_left .newsletter-title { float: none; margin: 0 0 30px 0; text-align: center; } }

.banner-newsletter #newsletter_block_left .block_content .form-group input { padding: 15px 20px 15px 60px; }

.banner-newsletter #newsletter_block_left .block_content .form-group button.button-small { left: 20px; right: auto; padding: 0 20px 0 0; }

.banner-newsletter #newsletter_block_left .block_content .form-group button.button-small:after { left: auto; right: 0; }

.pos_random_product .pos-title, .pos-bestsellers .pos-title { text-align: right; }

.new { left: 15px; right: auto; }

.sale { right: 15px; left: auto; }

.pos_featured_product .featuredSlide .item-product .actions-fea { left: 10px; right: auto; }

.r_more span:after { float: left; margin: 0 10px 0 0; content: "\e879"; }

.contentCate .view a { text-align: right; }

.contentCate .view a:after { float: left; content: "\f053"; }

.news_module_image_holder { float: right; }

.static-bottom .block-wrapper .text-icon { margin: 0 0 0 10px; }

.static-bottom .block-wrapper .text-des { text-align: right; }

.footer-container #footer h4:before { right: 0; left: auto; }

.footer-container #footer ul.toggle-footer li a:before { left: auto; right: 0; }

.footer-container #footer #social_block ul li { margin: 0 0 0 15px; }

.pos-bestsellers-product .item-product .products-inner { float: right; }

.pos-bestsellers-product .item-product .product-contents { text-align: right; margin: 0 15px 0 0; }

#layered_block_left .layered_subtitle:before { right: 0; left: auto; }

.our_price_display { float: right; margin-left: 10px; }

.box-cart-bottom #quantity_wanted_p { margin: 8px 0 0 15px; }

.more-info ul li:after { right: auto; left: 0; }

.shopping_cart { margin: 0 8px 0 0; }

.pos-slideshow .pos-slideshow-content .slide1 { left: 7%; }

.pos-slideshow .pos-slideshow-content .slide2 { left: 7%; }

ul.product_list.list > li .right-block .product-contents .hook-reviews { text-align: right; }

ul.product_list.list > li .right-block .product-contents .cart { float: right; margin: 0 0 0 5px; }

#usefull_link_block li { margin: 0 0 0 15px; }

.list_categoryproducts .item-product { border-right: none; }

.ac_results { text-align: right; }

.shopping_cart > a:first-child:before { padding: 0 0 0 13px; }

.pos-bestsellers .best-right .item-inner .image { float: right; }

.date-smart { right: auto; left: -40px; }

.pos-slideshow .pos-slideshow-content .slide1 .pos-slideshow-readmore a::before { padding-right: 0; padding-left: 13px; }

.pos-slideshow .pos-slideshow-content .slide2 .pos-slideshow-readmore a::before { padding-right: 0; padding-left: 13px; }

/* flexible */
/* style product */
/* static block */
.cms_custom:before { right: auto; left: 0; -webkit-transform: rotate(-44deg); -moz-transform: rotate(-44deg); transform: rotate(-44deg); }

/* static block */
@media (max-width: 767px) { .footer-container #footer h4:after { left: 0; right: auto; } }

.footer-container #footer .contact_us > div { display: inline-block; width: 100%; }

.footer-container #footer .contact_us p.title { float: right; margin-left: 10px; margin-right: 10px; }

.footer-container #footer ul.toggle-footer li a:after { right: 0; left: auto; }

.footer-container #footer ul.toggle-footer li:hover { padding-right: 10px; }

@media (max-width: 767px) { .footer-container #footer #social_block { float: right; } }

.footer-container #footer .footer-bottom .block-payment img { float: left; }

@media (max-width: 767px) { .footer-container #footer .footer-bottom .block-payment img { float: none; } }

.footer-container #footer .footer-bottom .block-links { text-align: left; }

@media (max-width: 767px) { .footer-container #footer .footer-bottom .block-links { text-align: right; } }

.footer-container #footer .footer-bottom .block-links li:first-child a { padding-left: 10px; }

.footer-container #footer .footer-bottom .block-links li:last-child a { padding: 0 10px 0 0; }

#footer #newsletter_block_left .form-group .form-control { padding: 10px 10px 10px 40px; }

#footer #newsletter_block_left .form-group .button-small { position: absolute; left: 0; right: auto; }

ul.product_list.list > li .right-block .product-contents { text-align: right; }

.compare-form { float: left; }

#usefull_link_block { float: right; }

#quantity_wanted_p, .box-info-product p { float: right; margin-right: 0; margin-left: 15px; }

.pb-center-column #buy_block label { float: right; margin: 0 0 0 10px; }

#usefull_link_block li a, #wishlist_button, #wishlist_button_nopop { padding: 0 0 0 30px; }

#usefull_link_block li a:before, #wishlist_button:before, #wishlist_button_nopop:before { left: 0; right: auto; }

@media (max-width: 767px) { .block .title_block:after, .block h4:after { right: auto; left: 0; } }

@media (max-width: 1199px) { .countdown-amount { font-size: 20px !important; line-height: 25px !important; }
  .countdown-period { font-size: 12px !important; }
  .cms_custom .text h2 { font-size: 13px; }
  .list_categoryproducts { margin-bottom: 30px; }
  .footer-container #footer #social_block ul li { margin: 0 0 0 10px; }
  #search_block_top .toogle_content { right: 45px; }
  .cart-product .buttons_bottom_block { margin-top: 25px; } }

@media (max-width: 991px) { .box-cart-bottom .cart-product { margin-top: 20px; }
  #search_block_top { float: right; }
  #currencies-block-top { margin-left: 0; } }

@media (max-width: 767px) { #header .shopping_cart { display: inline-block; text-align: right; }
  .cms_custom:before { display: none; }
  .banner_nav { float: none; }
  .wishlist-compare, .banner_header { float: none; }
  .wishlist-compare-wapper { display: inline-block; width: 100%; }
  #search_block_top .btn.button-search { left: 0; }
  .static-bottom .block-wrapper { text-align: right; }
  .footer-container #footer .footer-static-top .footer-block { border: none; } }

@media (max-width: 640px) { #languages-block-top, #currencies-block-top { float: none; }
  #header .block-cart, header .nav .link-nav { float: none; }
  .header_userinfo { float: none; }
  #header .header-middle .header-middle-right .cart-search .banner-header .block-wrapper1 { text-align: center; }
  #header .header-middle .header-middle-right .cart-search .banner-header .block1 { border-left: none; } }

@media (max-width: 480px) { .cart-product { margin-top: 20px; } }

@media (max-width: 479px) { .content_sortPagiBar .sortPagiBar #productsSortForm { margin: 0; }
  .content_sortPagiBar .sortPagiBar .nbrItemPage { margin-top: 20px; }
  .countdown-section { margin: 0 5px 0 0 !important; }
  .countdown-section:after { display: none !important; }
  .date-smart { left: 0 !important; right: auto !important; } }

@media (max-width: 360px) { .cart-product .buttons_bottom_block { margin-top: 15px; } }
