.oneline { display: block; word-wrap: break-word; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.shop-contact { float: left; padding: 10px 0; line-height: 15px; color: #696969; font-size: 12px; }

.shop-contact .shop-phone { float: left; }

.shop-contact .shop-phone i { border-radius: 100%; line-height: 15px; margin-right: 7px; text-align: center; font-size: 14px; }

.shop-contact .shop-phone strong { font-weight: normal; }

@media (max-width: 991px) { .shop-contact .shop-phone.is_logged { display: none; } }

.shop-contact .shop-email { float: left; padding: 0 20px; }

@media (max-width: 991px) { .shop-contact { width: 100%; text-align: center; margin-bottom: 10px; }
  .shop-contact .shop-phone, .shop-contact .shop-email { float: none; display: inline-block; } }

#contact-link { float: right; border-left: 1px solid #515151; }

@media (max-width: 479px) { #contact-link { text-align: center; } }

#contact-link a { display: block; color: #fff; font-weight: bold; padding: 8px 10px 11px 10px; text-shadow: 1px 1px rgba(0, 0, 0, 0.2); cursor: pointer; line-height: 18px; }

@media (max-width: 479px) { #contact-link a { font-size: 11px; padding-left: 5px; padding-right: 5px; } }

#contact-link a:hover, #contact-link a.active { background: #2b2b2b; }

@media (max-width: 767px) { #contact-link.is_logged { display: none; } }

@media (max-width: 767px) { #contact_block { margin-bottom: 20px; } }

#contact_block .label { display: none; }

#contact_block .block_content { color: #888888; }

#contact_block p { margin-bottom: 4px; }

#contact_block p.tel { font: 400 17px/21px "Libre Franklin", sans-serif; color: #252525; margin-bottom: 6px; }

#contact_block p.tel i { font-size: 25px; vertical-align: -2px; padding-right: 10px; }
