@import "compass";
@import "../../_theme_variables";

#search_block_top {
	position: absolute;
	top: 104px;
	right: 0;
	// max 1199px
	@media (max-width: $screen-md-max) {
	
	}
	// max  991px
	@media (max-width:$screen-sm-max) {
		position: static;
		display: inline-block;
		margin-top: 20px;
	}
	// max  767px
	@media (max-width:$screen-xs-max) {
		margin-top: 0;
	}
	.toogle_content{
		
	}
	.icon-search{
		background: transparent;
		display: block;
		position: relative;
		color: #444;
		width: 48px;
		border-radius: 100%;
		border: 1px solid $border-color;
		float: right;
		text-align: center;
		line-height: 48px;
		height: 48px;
		cursor: pointer;
		display: none;
		&:before{
			font-size: 18px;
		}
	}
	#searchbox {
		float: left;
		position:relative;
	}
	.btn.button-search {
		background: none;
		padding: 0;
		border: none;
		font-size: 0;
		position: absolute;
		right: 20px;
		top: 8px;
		z-index: 1;
		span {
			display: none;
		}
		// max  767px
		@media (max-width:$screen-xs-max) {
			left: auto;
		}
		&:before {
			content: "\e86f";
			display: block;
			font-family: 'Linearicons-Free';
			font-size: 16px;
			width: 100%;
			text-align: center;
			color: #fff;
		}
		&:hover:before{
			color:$hover-color;
		}
	}
	#search_query_top {
		top: 100%;
		display: inline;
		padding: 10px 50px 10px 10px;
		height: 40px;
		z-index: 1;
		position: relative;
		border: none;
		width: 200px;
		color: #9e9e9e;
		background: #3e3d33;
		&:focus {
			box-shadow:none;
		}
		// max  991px
		@media (max-width:$screen-sm-max) {
			width: 350px;
		}
	}
}

.ac_results {
	background: $light-background;
	border: 1px solid $base-border-color;
	width: 200px !important;
	margin-top: -1px;
	// max  767px
	@media (max-width:$screen-xs-max) {
		width: 92% !important;
	}
	//640
	@media (max-width: 640px){
		width: 90% !important;
	}
	//480
	@media (max-width:$screen-xs ){
		width: 88% !important;
	}
	//320
	@media (max-width: 320px ){
		width: 250px !important;
	}
	li {
		padding: 0 10px;
		font-weight: normal;
		color: #686666;
		font-size: 13px;
		line-height: 22px;
		&.ac_odd {
			background: $light-background;
		}
		&:hover, &.ac_over {
			background: $base-box-bg;
		}
	}
}

form#searchbox {
	position: relative;
	label {
		color: $base-text-color;
	}
	input#search_query_block {
		margin-right:10px;
		max-width:222px;
		margin-bottom:10px;
		display:inline-block;
		float:left;
	}
	.button.button-small {
		float:left;
		i {
			margin-right:0;
		}
	}
}
@media (max-width:$screen-xs-max) {
	#search_block_top {
	width:100%;
		#searchbox {
			float: none;
		}
		.btn.button-search {
			position:absolute;
			top:0;
			right:0;
			padding:0;
			height:40px;
			width:40px;
			line-height:40px;
			color:#252525;
			
		}
		#search_query_top {
			position:static;
			padding: 10px  40px 10px 10px;
			height:40px;
			opacity:1;
			z-index:1;
			width:100%;
		}
		&:hover {
			#search_query_top {
				height:40px;
			}
		}
	}	
}
// max  767px
@media (max-width:$screen-xs-max) {
	#search_block_top .toogle_content{display: block; position: static; }
	#search_block_top .icon-search{display: none;}
	#search_block_top .toogle_content #search_query_top{width: 100%;}
}