.tabs { position: relative; display: block; margin-bottom: 40px; color: #222222; letter-spacing: 5px; }

.tabs li { position: relative; display: inline-block; line-height: 30px; padding: 10px 0; text-transform: uppercase; cursor: pointer; margin-right: 40px; color: #989898; font-size: 24px; font-weight: 700; }

.tabs li:before { content: ""; height: 2px; width: 125px; background: transparent; position: absolute; bottom: -2px; left: 0; right: 0; display: block; }

.tabs li.active, .tabs li:hover { color: #222222; }

.tabs li.active:before { background: #444444; }
