#pos-special-products .item-product .product-contents .hook-reviews { margin-top: 20px; }

#pos-special-products .item-product .product-contents .product-desc { color: #959595; font-size: 12px; font-weight: normal; line-height: 25px; margin: 10px 0; }
