@import "compass";
@import "../../../_theme_variables";

.pos-feature-product {
	.item-product {
		margin-bottom:30px;
		.products-inner {
			float:left;
			width:170px;
			margin-right:10px;
		}
		.price-percent-reduction {
			display:none;
		}
		.product-contents {
			display:block;
			overflow:hidden;
			width:auto;
			border:$main_border;
			padding:0;
			.contents-inner {
				padding:11px;
			}
			.h5.product-name a {
				margin-top:0;
			}
			.actions {
				padding:0;
				display: block;
				width: auto;
				margin:0;
				border:0;
				.add-to-links li {
					a {
						height:55px;
						padding:0;
						font-size:0;
						display:block;
						color:#404e53;
						background:transparent;
						border:$main_border;
						border-left:0;
						border-bottom:0;
						width:auto;
						border-radius:0;
						line-height:55px;
						&:hover:before {
							color:$hover-color;
						}
						&:before {
							color:#404e53;
							font-size:18px;
							@include pos-transform(1);	
							line-height:55px;
						}
						&.ajax_add_to_cart_button ,	span.ajax_add_to_cart_button {
							min-width:auto;
						}
						&.quick-view {
							border-right:0;	
						}
						&.addToWishlist  {
							position:static;
							@include pos-transform(1);	
							opacity:1;
							margin:0;
							border-right:0;
							&:before {
								content: "\f004 ";
							}
						}
						&.add_to_compare {
							position:static;
							@include pos-transform(1);
							opacity:1;							
							margin:0;
							&:before {
								content: "\f0ec";
							}
						} 
					}
				}
			}
		}
	}
	
}
@media (max-width:360px) {
	.pos-feature-product {
		.item-product {
			margin-bottom:30px;
			.products-inner {
				float:left;
				width:100%;
				margin:0;
			}
		
			.product-contents {
				overflow:visible;
				display:inline-block;
				width:100%;
			}
		}
	}	
}