@import "compass";
@import "theme_variables";

.sub-page{
	#search_block_top{
		.pe-7s-search:before{color: #585858;}
	}
}
#category{
	.sub-page{
		#search_block_top{
			.pe-7s-search:before{color: #fff;}
		}
	}
}
#search_block_top {
	float:right;
	position: relative;
	cursor: pointer;
	// max  991px
	@media (max-width:$screen-sm-max) {
		margin-top: 10px;
	}
	// max  767px
	@media (max-width:$screen-xs-max) {
		
	}
	.toogle_content{
		position: absolute;
		right: 0;
		top: 42px;
		display: none;
		background: #f2f2f2;
		padding: 28px 20px;
		z-index: 99;
	}
	.pe-7s-search{
		&:before{
			font-size: 25px;
			color: #fff;
			line-height: 32px;
			// max  767px
			@media (max-width:$screen-xs-max) {
				display: none;
			}
		}
	}
	#searchbox {
		float: left;
		position:relative;
	}
	.btn.button-search {
		background: none;
		padding: 0;
		border: none;
		font-size: 0;
		position: absolute;
		right: 0px;
		bottom: 1px;
		z-index: 1;
		color: #fff;
		background: #020202;
		text-transform: uppercase;
		font-size: 14px;
		padding: 4px 20px;
		&:hover {
			color: #fff;
			background: $hover-color;
			@include pos-transition(300ms);
		}
	}
	#search_query_top {
		top: 100%;
		display: inline;
		padding: 4px 0;
		height: 28px;
		z-index: 1;
		position: relative;
		width: 300px;
		color: #898989;
		background: none;
		border-bottom: 1px solid #020202;
		border-top: none;
		border-right: none;
		border-left: none;
		&:focus {
			box-shadow:none;
		}
	}
}

.ac_results {
	background: $light-background;
	border: 1px solid $base-border-color;
	width: 300px !important;
	margin-top: -1px;
	// max  767px
	@media (max-width:$screen-xs-max) {
		width: 92% !important;
	}
	//640
	@media (max-width: 640px){
		width: 90% !important;
	}
	//480
	@media (max-width:$screen-xs ){
		width: 88% !important;
	}
	//320
	@media (max-width: 320px ){
		width: 250px !important;
	}
	li {
		padding: 0 10px;
		font-weight: normal;
		color: #686666;
		font-size: 13px;
		line-height: 22px;
		&.ac_odd {
			background: $light-background;
		}
		&:hover, &.ac_over {
			background: $base-box-bg;
		}
	}
}

form#searchbox {
	position: relative;
	label {
		color: $base-text-color;
	}
	input#search_query_block {
		margin-right:10px;
		max-width:222px;
		margin-bottom:10px;
		display:inline-block;
		float:left;
	}
	.button.button-small {
		float:left;
		i {
			margin-right:0;
		}
	}
}
@media (max-width:$screen-xs-max) {
	#search_block_top {
	width:100%;
		#searchbox {
			float: none;
		}
		#search_query_top {
			position:static;
			height:40px;
			opacity:1;
			z-index:1;
			width:100%;
		}
		&:hover {
			#search_query_top {
				height:40px;
			}
		}
	}	
}
// max  767px
@media (max-width:$screen-xs-max) {
	#search_block_top .toogle_content{display: block; position: static; }
	#search_block_top .icon-search{display: none;}
	#search_block_top .toogle_content #search_query_top{width: 100%;}
}