@import "compass";
@import "../../_theme_variables";

.header_userinfo {
	position:relative;
	float:left;
	position: relative;
	padding:10px 0;
	font-size:12px;
	.current {
		padding:0 15px;
		color:#696969;
		cursor: pointer;
		line-height:15px;
		&:hover {
			color:$hover-color;
		}
		&:after {
			content: "\f0d7";
			font-family: $font-icon;
			font-size: 14px;
			line-height: 15px;
			color: #686666;
			vertical-align: -2px;
			padding-left:7px;
		}	
	}
	.vertical-link {
		background:#fff;
		-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
		box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
		padding:20px;
		position: absolute;
		left: 0;
		top: 35px;
		width: 170px;
		z-index: 100;
		display:none;
		li {
			line-height:35px;
			display:block;
			a{
				color:#888889;
				font-size:14px;
				text-transform:capitalize;
				
			}
			&:hover a {
				color:$hover-color;
			}
		}
	}
}