@import "compass";
@import "theme_variables";
#currencies-block-top {
	float: right;
	position: relative;
	padding: 0 15px;
	// min 991px
	@media (max-width:$screen-sm-max) {
		margin-right: 8px;
	}
	// max 640px
	@media (max-width: 640px) {
		float: none;
		margin: 0 0 10px;
		display: inline-block;
		padding: 0 0 0 15px;
	}
	span.firstWord {
		display: none;
	}
	&:hover 	div.current {
		color: $hover-color;
	}
	div.current {
		font-weight: normal;
		color:#4b4b4b;
		text-shadow:none;
		cursor: pointer;
		font-size: 13px;
		text-transform: capitalize;
		strong {
			font-weight:normal;
		}
		&:after {
			content: "\f107";
			font-family: $font-icon;
			font-size: 12px;
			vertical-align:middle;
			padding-left: 7px;
		}
	}
	ul {
		display: none;
		position: absolute;
		padding:0;
		top: 35px;
		left:0;
		min-width: 157px;
		background:#f2f2f2;
		@include pos-box-shaw;
		z-index: 2;
		li {
			color:#4b4b4b;
			line-height: 40px;
			font-size: 12px;
			a,
			> span {
				padding: 0 15px;
				display: block;
				color: #4b4b4b;
			}
			&.selected, &:hover a {
				color:$hover-color;
			}
			
		}
	}
}