.pt_custommenu .pt_menu_cms.pt_menu .parentMenu a:after {
  display: none; }

.scroll-header .pt_custommenu .pt_menu .parentMenu a {
  color: #333; }
  @media (max-width: 1199px) {
    .scroll-header .pt_custommenu .pt_menu .parentMenu a {
      padding: 18px 20px; } }

.pt_custommenu {
  position: relative;
  margin: 0 auto;
  text-align: center; }
  .pt_custommenu .pt_menu_no_child:hover, .pt_custommenu .pt_menu_cms:hover, .pt_custommenu #pt_menu_home:hover {
    background: none !important; }
  .pt_custommenu .pt_menu_no_child span:after, .pt_custommenu .pt_menu_cms span:after, .pt_custommenu #pt_menu_home span:after {
    display: none; }
  .pt_custommenu .pt_menu_no_child .parentMenu a:after, .pt_custommenu .pt_menu_cms .parentMenu a:after, .pt_custommenu #pt_menu_home .parentMenu a:after {
    display: none; }
  .pt_custommenu #pt_menu_home .parentMenu a {
    padding-left: 0; }
  .pt_custommenu .pt_menu {
    display: inline-block; }
    .pt_custommenu .pt_menu .parentMenu a {
      display: block;
      padding: 23px;
      line-height: 16px;
      color: #2e2d25;
      text-transform: uppercase;
      position: relative;
      -webkit-transition: all 300ms ease-in;
      -moz-transition: all 300ms ease-in;
      -ms-transition: all 300ms ease-in;
      -o-transition: all 300ms ease-in;
      transition: all 300ms ease-in;
      font-size: 14px;
      font-weight: 400; }
      @media (max-width: 1199px) {
        .pt_custommenu .pt_menu .parentMenu a {
          padding: 26px 20px; } }
    .pt_custommenu .pt_menu:first-child .parentMenu a:after {
      display: none; }
    .pt_custommenu .pt_menu .popup {
      position: absolute;
      background-color: #fff;
      text-align: left;
      z-index: 9;
      border-top: 0;
      -webkit-box-shadow: 0px 5px 12px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0px 5px 12px 0 rgba(0, 0, 0, 0.2); }
      .pt_custommenu .pt_menu .popup .block2 {
        margin-top: 10px;
        padding: 0 30px 30px 30px;
        display: inline-block;
        width: 100%; }
        @media (max-width: 1199px) {
          .pt_custommenu .pt_menu .popup .block2 {
            max-width: 767px; } }
      .pt_custommenu .pt_menu .popup .block1 {
        overflow: hidden;
        float: left;
        padding: 30px; }
        .pt_custommenu .pt_menu .popup .block1 .column {
          float: left;
          width: 200px;
          margin-right: 20px;
          margin-bottom: -99999px;
          padding-bottom: 99999px; }
          .pt_custommenu .pt_menu .popup .block1 .column.last {
            margin-right: 0; }
          @media (max-width: 1199px) {
            .pt_custommenu .pt_menu .popup .block1 .column {
              width: 170px;
              margin-right: 10px; }
              .pt_custommenu .pt_menu .popup .block1 .column.last {
                margin-right: 0; } }
          .pt_custommenu .pt_menu .popup .block1 .column .itemMenuName {
            display: block;
            color: #333;
            line-height: 30px;
            text-transform: uppercase;
            border-bottom: 1px solid #e5e5e5;
            padding-bottom: 10px;
            font-weight: 700;
            font-size: 16px; }
            .pt_custommenu .pt_menu .popup .block1 .column .itemMenuName:hover {
              color: #fd9705; }
            .pt_custommenu .pt_menu .popup .block1 .column .itemMenuName:last-child {
              border-bottom: 0; }
          .pt_custommenu .pt_menu .popup .block1 .column .itemSubMenu {
            margin-top: 20px; }
            .pt_custommenu .pt_menu .popup .block1 .column .itemSubMenu .itemMenuName {
              display: block;
              color: #666;
              text-transform: capitalize;
              border: 0;
              padding: 0;
              font-weight: normal;
              font-size: 14px; }
              .pt_custommenu .pt_menu .popup .block1 .column .itemSubMenu .itemMenuName span {
                border: 0; }
              .pt_custommenu .pt_menu .popup .block1 .column .itemSubMenu .itemMenuName:hover {
                color: #fd9705; }
        .pt_custommenu .pt_menu .popup .block1 .blockright {
          width: 200px;
          margin-right: 0; }
    .pt_custommenu .pt_menu.act .parentMenu a, .pt_custommenu .pt_menu.active .parentMenu a {
      color: #ff8a0b;
      -webkit-transition: all 300ms ease-in;
      -moz-transition: all 300ms ease-in;
      -ms-transition: all 300ms ease-in;
      -o-transition: all 300ms ease-in;
      transition: all 300ms ease-in; }
      .pt_custommenu .pt_menu.act .parentMenu a i, .pt_custommenu .pt_menu.active .parentMenu a i {
        color: #ff8a0b; }
      .pt_custommenu .pt_menu.act .parentMenu a:after, .pt_custommenu .pt_menu.active .parentMenu a:after {
        color: #fd9705;
        -webkit-transition: all 300ms ease-in;
        -moz-transition: all 300ms ease-in;
        -ms-transition: all 300ms ease-in;
        -o-transition: all 300ms ease-in;
        transition: all 300ms ease-in; }
    .pt_custommenu .pt_menu.act .parentMenu a span, .pt_custommenu .pt_menu .parentMenu a:hover span, .pt_custommenu .pt_menu.active .parentMenu a span {
      border-color: #e5e5e5; }
  .pt_custommenu .pt_menu_no_child .parentMenu a:after {
    font-size: 0; }

#pt_menu_home.act .parentMenu a {
  background: none !important; }

#pt_menu_home .parentMenu a span {
  padding-left: 0; }

#pt_menu_home.act .parentMenu a span, #pt_menu_home .parentMenu a:hover span {
  border-color: transparent; }

.nav-collapse {
  text-align: left; }

.navbar .nav > li {
  padding: 10px 30px 20px 0; }

.menu-mobile {
  background: #333; }

#ma-mobilemenu {
  height: auto;
  display: none;
  padding: 3px 0 0 0;
  border-top: 0;
  float: left;
  width: 100%;
  margin-bottom: 10px; }

.posmegamenu {
  position: relative;
  line-height: 0; }

.navbar-inner {
  border: 0;
  border-radius: 0;
  min-height: 50px;
  text-align: left; }

.navbar {
  margin: 0;
  z-index: 9; }
  .navbar .btn-navbar {
    position: absolute;
    right: 15px;
    top: 8px;
    margin: 0;
    padding: 0;
    border-radius: 3px;
    text-align: center;
    overflow: hidden; }
    .navbar .btn-navbar:before {
      content: "\f03a ";
      font-family: "FontAwesome";
      font-size: 24px;
      color: #fff;
      margin: 0;
      padding: 0; }
    .navbar .btn-navbar .icon-bar {
      display: none; }

.mobilemenu > li.last a {
  border-bottom: 0; }

.navbar .brand {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  line-height: 50px;
  display: inline-block;
  padding-left: 20px; }

.mobilemenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: left;
  display: block;
  width: 100%; }
  .mobilemenu li {
    background: #faf8f8;
    cursor: pointer;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    position: relative; }
    .mobilemenu li a {
      text-decoration: none;
      border-bottom: 1px solid #e0d8d8;
      line-height: 40px;
      font-weight: normal;
      color: #111;
      margin: 0 15px;
      display: block;
      cursor: pointer;
      font-size: 14px;
      text-transform: capitalize; }
    .mobilemenu li.active a, .mobilemenu li a:hover {
      color: #ff8a0b; }
    .mobilemenu li ul {
      padding: 0 15px; }
      .mobilemenu li ul ul {
        padding: 0 15px; }

/*----------- button mobilemenu -------------*/
.mobilemenu span.head {
  position: absolute;
  top: 12px;
  right: 10px; }
  .mobilemenu span.head a {
    display: block;
    height: 15px;
    padding: 0;
    width: 15px;
    border: 0; }

.mobilemenu .OPEN a:before {
  content: "\f068 ";
  font-family: "FontAwesome";
  line-height: 34px;
  font-size: 14px;
  position: absolute;
  top: -8px;
  right: 17px; }

.mobilemenu .CLOSE a:before {
  content: "\f067 ";
  font-family: "FontAwesome";
  line-height: 34px;
  font-size: 14px;
  position: absolute;
  top: -8px;
  right: 17px; }

@media (max-width: 1199px) {
  .scroll-header .pt_custommenu .pt_menu .popup {
    margin-top: -17px; } }

/*# sourceMappingURL=custommenu.css.map */
