@import "compass";
@import "../../_theme_variables";

#pos-special-products {
	.item-product {
		.product-contents {
			.hook-reviews {
				margin-top:20px;
			}
			.product-desc {
				color:#959595;
				font-size:12px;
				font-weight:normal;
				line-height:25px;
				margin:10px 0;
			}
		}
	}
}