.oneline { display: block; word-wrap: break-word; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

#currencies-block-top { float: left; position: relative; padding: 10px 0; font-size: 12px; }

#currencies-block-top div.current { padding: 0 15px; color: #696969; cursor: pointer; line-height: 15px; }

#currencies-block-top div.current strong { font-weight: normal; }

#currencies-block-top div.current:hover, #currencies-block-top div.current.active { color: #69995D; }

#currencies-block-top div.current:after { content: "\f0d7"; font-family: "FontAwesome"; font-size: 14px; line-height: 15px; color: #686666; vertical-align: -2px; padding-left: 7px; }

#currencies-block-top ul { background: #fff; -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); padding: 20px; position: absolute; left: 0; top: 35px; width: 170px; z-index: 100; display: none; }

#currencies-block-top ul li { line-height: 35px; font-size: 13px; }

#currencies-block-top ul li a { color: #888889; }

#currencies-block-top ul li.selected, #currencies-block-top ul li:hover a { color: #69995D; }

#currencies-block-top ul li img { margin-right: 5px; }
