.categoryContainer{
	margin-top: 60px;
}
.category-i{
	overflow:hidden;
}
.contentCate{
	border-left: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	text-align: center;
}
.contentCate h2{
	padding: 28px 0;
	color: #444;
	font-size: 20px;
	display: inline-block;
	font-weight: 600;
	text-transform: capitalize;
	border-bottom: 2px solid #d9121f;
}
.contentCate h2 a{color: #444;}
.contentCate .pos_child{
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	margin-top: -1px;
	padding: 26px 0;
}
.contentCate .pos_child li a{
	font-size: 14px;
	text-transform: capitalize;
	color: #555;
}
.contentCate .pos_child li a:hover{color: #d9121f;}
.contentCate .view a{
	font-size: 14px;
	color: #444;
	text-transform: capitalize;
	font-weight: 600;
	padding: 20px 25px;
	text-align: left;
	display: inline-block;
	width: 100%;
}
.contentCate .view a:hover, .contentCate .view a:hover:after{color: #d9121f;}
.contentCate .view a:after{
	display: block;
    float: right;
    content: "\f054";
    color: #444;
    text-align: center;
    font-family: "FontAwesome";
    font-size: 10px;
}
.category-i .thumbimg img{
	width:100%;
}
.category-i .contentCate{
	overflow:hidden;
}
.category-i .contentCate h2{
	font-size: 16px;
    font-weight: bold;
    margin: 0 0 10px;
    text-transform: uppercase;
}
.category-i .contentCate .viewMore{
	background: none repeat scroll 0 0 #c5282f;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
    padding: 3px 10px;
    text-transform: uppercase;
-webkit-transition: all 200ms ease;
-moz-transition: all 200ms ease;
-ms-transition: all 200ms ease;
-o-transition: all 200ms ease;
transition: all 200ms ease;
}
.category-i .contentCate .viewMore:hover{
	background:#d8373e;
}
.pos_child .child_name{
	line-height:30px;
}
.pos_child .child_name i{
	margin-right:5px;
}

@media (min-width: 768px) and (max-width: 991px){
	.productTabCategory .item-top{
		margin: 0 0 10px;
		width: 100%;
	}
	.productTabCategory .center-produc{
		clear: both;
	}
}