@import '../../_theme_variables';
#tags_block_left {
	border-bottom:1px solid #555;
	.block_content {
		overflow:hidden;
		padding:15px 0;

		a {
			display:inline-block;
			color: #959595;
			font-size:14px;
			text-transform:capitalize;
			line-height:31px;
			font-weight:normal;
			padding:0 15px;
		    border: 1px solid #555;
			margin:0 5px 5px 0;
			border-radius:4px;
			@include pos-transition(300ms);

			&:hover {
				color:$light-text-color;
				border-color:$hover-color;
				background:$main-background;
				@include pos-transition(300ms);
			}
		}
	}
}
#columns {
	#tags_block_left {
		margin-bottom:30px;
		border:$main_border;
		h4 {
			font-size: 21px;
			font-weight: normal;
			color: white;
			text-transform: uppercase;
			line-height: 50px;
			background: #363636;
			padding: 0 18px;
		}
		.block_content {
			padding:15px;
		}
	}
}