.oneline { display: block; word-wrap: break-word; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.header_userinfo { position: relative; float: left; position: relative; padding: 10px 0; font-size: 12px; }

.header_userinfo .current { padding: 0 15px; color: #696969; cursor: pointer; line-height: 15px; }

.header_userinfo .current:hover { color: #69995D; }

.header_userinfo .current:after { content: "\f0d7"; font-family: "FontAwesome"; font-size: 14px; line-height: 15px; color: #686666; vertical-align: -2px; padding-left: 7px; }

.header_userinfo .vertical-link { background: #fff; -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); padding: 20px; position: absolute; left: 0; top: 35px; width: 170px; z-index: 100; display: none; }

.header_userinfo .vertical-link li { line-height: 35px; display: block; }

.header_userinfo .vertical-link li a { color: #888889; font-size: 14px; text-transform: capitalize; }

.header_userinfo .vertical-link li:hover a { color: #69995D; }
