@import "compass";
@import "theme_variables";

.back-top a {
    right: auto;
    left: 20px;
}
//header



//mobilemenu
.nav-collapse {
    text-align: right;
}

.navbar-inner {
	text-align: right;
}
.navbar {
	.btn-navbar {
		position: absolute;
		right: auto;
		left: 15px;
	
	}
}
.navbar .brand {
	padding:0 20px 0 0;
}	
.mobilemenu span.head {
	position: absolute;
	left: 10px;
	right: auto;
}

/* title */

/* title */  

/* style product */


//Labels New/Sale

.new-box {
	left:auto;
	right:10px;
	
}

.sale-box {
	left:10px;
	right:auto;
}

/* inspira */  

.pt_custommenu{
	.pt_menu{
		float: right;
	}
}
nav{float: left;}
#header{
	.shopping_cart{float: left;}
}
#search_block_top{
	float: left;
}
.pos-title{
	text-align: right;
	h2{
		&:before{
			right: 100%;
			margin: 0 10px 0 0;
		}
	}
}
.pos-bestsellers, .pos_new_product{
	.item-product{
		.products-inner{
			float: right;
		}
		.product-contents{
			float: right;
			text-align: right;
			padding: 0 15px 0 0;
			h5.product-name{
				float: right;
			}
		}
	}
}
.new, .sale{left: 15px; right: auto;}
.price-percent-reduction{left: 15px; right: auto;}
.actions{left: 15px; right: auto;}
ul.product_list.list > li{
	.right-block{
		.product-contents{
			.hook-reviews{
				text-align: right;
			}
			.actions{
				.add-to-links{
					li{
						margin: 0 0 0 10px;
					}
				}
			}
		}
	}
}
.box-cart-bottom #quantity_wanted_p{
	margin: 8px 0 20px 15px;
}
#search_block_top .toogle_content{
	right: auto;
	left: 0;
}
nav .content-nav.toogle_content{
	right: auto;
	left: 0;
}
#currencies-block-top, #languages-block-top{float: right;}
.pt_custommenu .pt_menu .popup .block1 .column .itemMenu{text-align: right;}
.date-smart:before{float: right; margin: 0 0 0 10px;}
.content_sortPagiBar .sortPagiBar .border{border-right: none; border-left: 1px solid #e5e5e5;}
#layered_block_left ul li{margin: 0 30px 0 0;}
.more-info ul li{margin: 0 0 0 50px;}
.more-info ul li a:after{right: auto; left: -30px;}
#search_block_top .toogle_content #search_query_top{text-align: right;}
#search_block_top .btn.button-search{right: auto; left: 0;}
.button.button-small span i.icon-chevron-right:before{content: "\f053";}
.pt_custommenu .pt_menu .parentMenu a:after{float: left; margin: 0 10px 0 0;}
#layered_block_left .nomargin a{padding: 0 10px 0 0;}
.ac_results{text-align: right !important;}
.pos-bestsellers-product{
	.item-product{
		.product-contents{
			// max  991px
			@media (max-width:$screen-sm-max) {
				padding-right: 0;
			}
			// max  767px
			@media (max-width:$screen-xs-max) {
				padding-right: 15px;
			}
		}
	}
}
 
/* inspira */  


/* style product */




/* static block */

.cms_custom {
	&:before {
		right: auto;
		left: 0;
		-webkit-transform: rotate(-44deg);
		-moz-transform: rotate(-44deg);
		transform: rotate(-44deg);
	}
}

/* static block */

// FOOTER
.footer-container {
	#footer {
		h4 {
			// max 767px
			@media (max-width: $screen-xs-max) {
				&:after {
					left: 0;
					right: auto;
				}
				
			}
			
		}
		.contact_us  {
			>div {
				display:inline-block;
				width:100%;
			}
			p {
				
				&.title {
					float:right;
					margin-left:10px;
					margin-right:10px;
				}
			}
			
		}
		ul.toggle-footer {
			li {
				a {
					padding: 0 15px 0 0;
					&:before{
						right: 0;
						left:auto;

					}

				}
				&:hover {
					padding-right:10px;
				}
			}
		}

		#social_block{
			// max 767px
			@media (max-width: $screen-xs-max) {
				float: right;	
			}
			ul{
				li{
					margin: 0 0 0 13px;
				}
			}
		}
		.footer-static-top{
			.footer-block{
				.address:before{margin: 0 0 0 15px;}
				.phone:before{margin: 0 0 0 20px;}
				.Email:before{margin: 0 0 0 20px;}
			}
			.footer-about ul li{padding: 0;}
		}
		.footer-bottom {
			.block-payment{
				img{
					float: left;
					// max 767px
					@media (max-width: $screen-xs-max) {
						float: none;
					}
				}
			}
			.block-links {
				text-align:left;
				@media (max-width: $screen-xs-max) {
					text-align:right;
				}
				li {
					&:first-child a {
						padding-left:10px;
					}
					&:last-child a {
						padding:0 10px 0 0;
					}
					
				}
			}
			
		}
	
	}
}
#footer {
	#newsletter_block_left {
		.form-group {
			.form-control {
				padding: 10px 10px 10px 40px;
			}
			.button-small {
				position:absolute;
				left: 10px;
				right:auto;
			}
		}
	
	
	}
}
//product-list
ul.product_list.list > li .right-block .product-contents {
    text-align: right;
}
  .compare-form {
    float: right;
}
//product

.box-cart-bottom .cart-product,.box-info-product p {
    float: right;
}
#usefull_link_block {
    float: right;
}
#quantity_wanted_p,.box-info-product p {
    float: right;
    margin-right:0;
	margin-left:15px;
}

.pb-center-column #buy_block label {
    float: right;
    margin: 0 0 0 10px;
}

.block {
	.title_block,
	h4 {
		
		// max 767px
		@media (max-width: $screen-xs-max) {
			&:after {
				right: auto;
				left: 0;
			}
			
		}
	
	}
}
//responsive

// max  1199px
@media (max-width:$screen-md-max) {	
	
	.countdown-amount {
		font-size: 20px !important;
		line-height: 25px !important;
	}
	.countdown-period {
		font-size: 12px !important;
	
	}
	.cms_custom .text h2 {
		font-size: 13px;
	}
	.list_categoryproducts {
		margin-bottom:30px;
	}
	.footer-container #footer #social_block ul li{margin: 0 0 0 10px;}
	.pos-bestsellers .item-product .product-contents .hook-reviews, .pos_new_product .item-product .product-contents .hook-reviews{display: inline-block;}
	.pos-bestsellers .item-product .product-contents h5.product-name, .pos_new_product .item-product .product-contents h5.product-name{width: 100%;}
	
}
// max 991px
@media (max-width: $screen-sm-max) {
	#currencies-block-top{margin-left: 0;}
	.cart-product .buttons_bottom_block{margin-top: 0;}
	.block-cart{float: left;}
}

// max  767px
@media (max-width:$screen-xs-max) {

	#header .shopping_cart {
		display:inline-block;
		text-align:right;
	}
	.cms_custom {
		&:before {
			display:none;
		}
	}
	#search_block_top .toogle_content{display: inline-block; width: 100%;}
}
// max  480
@media (max-width:$screen-xs) {
	
	
}
// max  479
@media (max-width:$screen-xs  - 1) {
	.content_sortPagiBar .sortPagiBar #productsSortForm {
		margin:0;
		
	}
	.content_sortPagiBar .sortPagiBar .nbrItemPage {
		margin-top: 20px;
	}
	.countdown-section {
		margin:0 5px 0 0 !important;
		&:after {
			display:none !important;
		}
	}
	.date-smart{left: 0 !important; right: auto !important;}
	.block-smartblog .pos-title h2::before{right: auto; left: -80px;}
}
@media (max-width: 360px ){
	
}
