@import "compass";
@import "theme_variables";
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700&subset=latin-ext);
.ma-nivoslider {
	overflow:hidden;
	.pos-loading {
		background :#ECECEC;
		position:relative;
		width:100%;
		span{
			 width: 32px;
			 height: 32px;
			 position: absolute;
			 z-index: 99;
			 background: url("loader.gif") no-repeat center #fff;
			 top:50%;
			 left:50%;
			 right:50%;
			 bottom:50%;
			 margin: -16px 0 0 -16px;
		}
	}
}
.nivoSlider {
	position: relative;
	width: 100%;
	img {
		position: absolute;
		top: 0px;
		left: 0px;
		max-width: none;
	}
	/* If an image is wrapped in a link */
	a.nivo-imageLink {
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		border:0;
		padding:0;
		margin:0;
		z-index:6;
		display:none;
		background:white; 
		filter:alpha(opacity=0); 
		opacity:0;
	}
}
.nivo-main-image {
	display: block !important;
	position: relative !important;
	width: 100% !important;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display: block;
	position: absolute;
	z-index: 5;
	height: 100%;
	top: 0;
}
.nivo-box {
	display: block;
	position: absolute;
	z-index: 5;
	overflow: hidden;
	img {
		display: block;
	}
}
/* Caption styles */
.nivo-html-caption {
    display: none;
}
@-webkit-keyframes myfirst {
		from {width: 0;}
		to {width: 100%;}
	}
	@keyframes myfirst {
		from {width: 0;}
		to {width: 100%;}
	}
	.timethai.pos_hover{
		-webkit-animation-play-state: paused;
		animation-play-state: paused;
		
	}
/* slideshow edit */
.pos-slideshow{
	position: relative;
	&:hover .nivo-directionNav a {
		opacity:1;
		@include pos-transition(300ms);
	}
	.nivo-directionNav a{
		display: block;
		color: $hover-color;	
		text-align: center;
		font-size: 36px;
		position: absolute;
		z-index: 8;
		opacity: 0;
		cursor: pointer;
		top: 50%;
		-moz-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		@include pos-transition(300ms);
		@media (max-width:$screen-md-max) {
			width: get1024-vw(50px);
			height: get1024-vw(50px);
			line-height:get1024-vw(50px);
			font-size: get1024-vw(20px);
			margin-top:get1024-vw(-25px);
		}
		
		@media (max-width:$screen-xs-max) {
			display: none;
		}
		&.nivo-prevNav{
			left:20px;
			@media (max-width:$screen-md-max) {
				left:0;
			}
		}
		&.nivo-nextNav{
			right:20px;
			@media (max-width:$screen-md-max) {
				right:0;
			}
		}
		&:hover{
			color: #fff;
		}
	}
	.nivo-controlNav{
		position: absolute;
		bottom:30px;
		@media (max-width:$screen-md-max) {
			bottom:get1024-vw(30px);
		}
		left:0;
		right:0;
		text-align:center;
		z-index: 8;
		@media (max-width:$screen-xs-max) {
			display: none;
		}
		a{
		
			display:inline-block;
			height: 14px;
			border-radius:100%;
			font-size: 0;
			width: 14px;
			margin:0 4px;
			text-align:center;
			cursor: pointer;
			position: relative;
			z-index: 8;
			background:#fff;
			@include pos-transition(300ms);	
			&.active,&:hover{
				background: #cf0016;
			}
		}
	}
	
}

//text slide

.pos-slideshow-content {
	p {
		margin:0;
	}
}
.desc1 {
	position: absolute;
	top: 50%;
	z-index: 6;
	text-align:left;
	direction:ltr;
	line-height:1;
	font-weight:400;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	// max 640
	@media (max-width: 640px) {
		margin-top: 0;
	}
	.title1 {
		font-size:24px;
		color:#808080;
		font-weight: 900;
		margin-bottom: 30px;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		-webkit-animation-delay: 0s;
		animation-delay: 0s;
		 -webkit-animation-duration: 0.9s;
		animation-duration: 0.9s;
	}
	.title2{
		font-size: 48px;
		color: #2e2d25;
		font-weight: 900;
		margin-bottom: 30px;
		text-transform: uppercase;
		-webkit-animation-delay: 0.5s;
		animation-delay: 0.5s;
		 -webkit-animation-duration: 0.9s;
		animation-duration: 0.9s;	
	}
	.title3{
		font-size: 48px;
		color: #2e2d25;
		font-weight: 900;
		text-transform: uppercase;
		-webkit-animation-delay: 1s;
		animation-delay: 1s;
		 -webkit-animation-duration: 0.9s;
		animation-duration: 0.9s;	
	}
	.readmore  {
		-webkit-animation-delay: 2s;
		animation-delay: 2s;
		 -webkit-animation-duration: 0.9s;
		animation-duration: 0.9s;
		a {
			@include pos-transition(300ms);
			position:relative;
			font-size: 13px;
			color: #fff;
			padding: 13px 23px;
			margin-top: 50px;
			font-weight: 900;
			text-transform:uppercase;
			display:inline-block;
			background: $hover-color;
			&.check_all{
				background: #fff;
				color: #2e2d25;
				margin-left: 20px;
			}
			&:hover {
				background: #333;
				color: #fff;
				@include pos-transition(300ms);
			}
		}
	}
}
.desc2  {
	position: absolute;
	top: 50%;
	z-index: 6;
	text-align:left;
	direction:ltr;
	line-height:1;
	font-weight:400;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	.title1 {
		font-size:24px;
		color: #7f7f7f;
		letter-spacing: 0.02em;
		font-weight:900;
		text-transform: uppercase;
		margin-bottom: 30px;
		-webkit-animation-delay: 0s;
		animation-delay: 0s;
		 -webkit-animation-duration: 0.9s;
		animation-duration: 0.9s;
	}
	.title2{
		font-size: 48px;
		color:#2e2d25;
		font-weight: 900;
		text-transform: uppercase;
		margin-bottom: 30px;
		-webkit-animation-delay: 0.5s;
		animation-delay: 0.5s;
		 -webkit-animation-duration: 0.9s;
		animation-duration: 0.9s;
	}
	.title3{
		font-size: 48px;
		font-weight: 900;
		color:#2e2d25;
		text-transform: uppercase;
		-webkit-animation-delay: 1s;
		animation-delay: 1s;
		 -webkit-animation-duration: 0.9s;
		animation-duration: 0.9s;
	}
	.readmore  {
		-webkit-animation-delay: 2s;
		animation-delay: 2s;
		 -webkit-animation-duration: 0.9s;
		animation-duration: 0.9s;
		a {
			@include pos-transition(300ms);
			position:relative;
			font-size:14px;
			color: #fff;
			padding: 13px 23px;
			margin-top: 50px;
			font-weight: 900;
			text-transform:uppercase;
			display:inline-block;
			background: $hover-color;
			&:hover {
				background: #333;
				color: #fff;
				@include pos-transition(300ms);
			}
		}
	}
}
// min  1600px
@media (min-width: 1600px) {
	
}
//fix responsive
@media (max-width:$screen-md) {
	.desc1, .desc2{
		.title1 {
			 font-size: get991-vw(20px);
		}
		.title2{
			font-size:get991-vw(40px);
			margin:0 0 get991-vw(30px) 0;	
		}
		.title3{
			font-size: get991-vw(40px);
		}
		.title4{
			position:relative;
			margin:0 0 get991-vw(10px) 0;	
			font-size:get991-vw(30px);
			line-height:get991-vw(25px);
			span {
				font-size:get991-vw(20px);
			}
			
		}
		.readmore  {
			a {
				font-size:get991-vw(14px);
				padding: get991-vw(13px) get991-vw(23px) ;
				margin-top: get991-vw(50px);
					&:before {
						font-size:get991-vw(20px);
					}
			}
		}
	}
}
//max 767
@media (max-width:$screen-xs-max) {
	.desc1{
		.title1 {
			 font-size:get1024-vw(24px);
		}
		.title2{
			font-size:get1024-vw(30px);
		}
		.title3{
			font-size:get1024-vw(24px);
			margin:0 0 get1024-vw(10px) 0;	
			line-height:get1024-vw(25px);
		}
		.title4{
			position:relative;
			margin:0 0 get1024-vw(10px) 0;	
			font-size:get1024-vw(30px);
			line-height:get1024-vw(25px);
			span {
				font-size:get1024-vw(20px);
			}
			
		}
		.readmore  {
			a {
				font-size:get1024-vw(14px);
				line-height:get1024-vw(35px);
				padding:0 get1024-vw(15px);
				margin-top: get1024-vw(35px);
					&:before {
						font-size:get1024-vw(20px);
					}
			}
		}
	}
	.desc2  {
		.title1 {
			 font-size:get1024-vw(24px);
		}
		.title2{
			font-size:get1024-vw(30px);
			margin:0 0 get1024-vw(10px) 0;	
		}
		.title3{
			font-size:get1024-vw(24px);
			margin:0 0 get1024-vw(10px) 0;	
			line-height:get1024-vw(25px);
		}
		.title4{
			position:relative;
			margin:0 0 get1024-vw(10px) 0;	
			font-size:get1024-vw(30px);
			span {
				font-size:get1024-vw(20px);
			}
			
		}
		.readmore  {
			a {
				font-size:get1024-vw(14px);
				line-height:get1024-vw(35px);
				padding:0 get1024-vw(15px);
				margin-top: get1024-vw(35px);
					&:before {
						font-size:get1024-vw(20px);
					}
			}
		}
	}
}
//max 480
@media (max-width:$screen-xs) {
	.desc1,.desc2  {
		.title1 {
			 font-size:get480-vw(14px);
		}
		.title2{
			font-size:get480-vw(14px);
			margin:0 0 get480-vw(5px) 0;	
		}
		.title3{
			font-size:get480-vw(14px);
			margin:0 0 get480-vw(5px) 0;	
			line-height:get480-vw(25px);
			max-width:85%;
			display:none;
		}
		.title4{
			position:relative;
			margin:0 0 get480-vw(5px) 0;	
			font-size:get480-vw(14px);
			line-height:get480-vw(25px);
			span {
				font-size:get480-vw(16px);
			}
			
		}
		.readmore  {
			a {
				font-size:get480-vw(12px);
				line-height:get480-vw(25px);
				padding:0 get480-vw(10px);
					&:before {
						font-size:get480-vw(10px);
					}
			}
		}
	}
}
